{% set node = nodes[inventory_hostname] %}

!!!!!!!!!!!!!!!!!!!!!!Below output is from an AUTOMATED TOOL. It is the responsiblity of IO and PD engineer to ensure accuracy of the configurations before executing in the production environment!!!!!!!!!!!!!!!!!!!!!

This BAU Augment configuration is for ROUTER:{{ inventory_hostname }} & JIRA:{{ node.jira }} & PATH: {{ node.path }}

CHANGE-SPECIFIC PRE-CHECKS

Check interfaces:

{% for intf,intf_attr in node.test.items()|sort %}
sh run formal {{ intf }}
sh int {{ intf }}
{% endfor %}

Admin up ports:

{% for intf,intf_attr in node.test.items()|sort %}
no interface {{ intf }} shutdown
{% endfor %}


Check interface status & Light level:

{% for intf,intf_attr in node.test.items()|sort %}
show int {{intf}}
show controllers {{intf}} phy | i dB
{% endfor %}

Configure test IP's:

{% for intf,intf_attr in node.test.items()|sort %}
int {{intf}} ipv4 address {{intf_attr.A_test_ip}}/31
int {{intf}} mtu {{intf_attr.mtu}}
{% endfor %}


Perform ping test:


{% for intf,intf_attr in node.test.items()|sort %}
ping {{intf_attr.Z_test_ip.split("/")[0] }} source {{intf_attr.A_test_ip.split("/")[0]}} repeat {{intf_attr.count}} size {{intf_attr.size}}
{% endfor %}


CHANGE SPECIFIC CONFIGURATION

START

{% if node.new_bundle_1 is defined %}

Pre-checks for Bundle #1

show interfaces be{{ node.new_bundle_1.lag }}
show route {{ node.new_bundle_1.a_router_ipv4 }}
show route ipv6 unicast {{ node.new_bundle_1.a_router_ipv6 }}

LAG Configuration:

interface be{{ node.new_bundle_1.lag }}
interface be{{ node.new_bundle_1.lag }} description [TYPE={{ node.new_bundle_1.type|upper }}][BW={{ node.new_bundle_1.bw }}G][GRNT={{ node.new_bundle_1.lag_grnt|upper }}][ZLOC={{ node.new_bundle_1.zloc|upper }}][ZPRT=BE{{ node.new_bundle_1.zprt }}][IP={{ node.new_bundle_1.z_router_ip }}] 
interface be{{ node.new_bundle_1.lag }} mtu 9216
interface be{{ node.new_bundle_1.lag }} service-policy QSP-ALL-CORE-PROTECTED-OUT
interface be{{ node.new_bundle_1.lag }} ipv4 address {{ node.new_bundle_1.a_router_ipv4 }}
interface be{{ node.new_bundle_1.lag }} ipv6 address {{ node.new_bundle_1.a_router_ipv6 }}
interface be{{ node.new_bundle_1.lag }} load-interval 30
interface be{{ node.new_bundle_1.lag }} minimum-active links 1
interface be{{ node.new_bundle_1.lag }} flow ipv4 monitor NETFLOW_IPV4 sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_1.lag }} flow ipv6 monitor NETFLOW_IPV6 sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_1.lag }} flow mpls monitor NETFLOW_MPLS sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_1.lag }} dampening 1 750 2000 4
router isis TWC interface be{{ node.new_bundle_1.lag }} 
router isis TWC interface be{{ node.new_bundle_1.lag }} suppressed
router isis TWC interface be{{ node.new_bundle_1.lag }} circuit-type level-2-only
router isis TWC interface be{{ node.new_bundle_1.lag }} point-to-point
router isis TWC interface be{{ node.new_bundle_1.lag }} hello-padding disable
router isis TWC interface be{{ node.new_bundle_1.lag }} address-family ipv4 unicast 
router isis TWC interface be{{ node.new_bundle_1.lag }} address-family ipv4 unicast metric 65000
router isis TWC interface be{{ node.new_bundle_1.lag }} address-family ipv4 unicast mpls ldp sync
router isis TWC interface be{{ node.new_bundle_1.lag }} address-family ipv6 unicast
rsvp interface be{{ node.new_bundle_1.lag }} 
rsvp interface be{{ node.new_bundle_1.lag }} bandwidth 20000000
mpls traffic-eng interface be{{ node.new_bundle_1.lag }} 
mpls ldp address-family ipv4 label local advertise interface be{{ node.new_bundle_1.lag }}
mpls ldp interface be{{ node.new_bundle_1.lag }}
multicast-routing address-family ipv4 interface be{{ node.new_bundle_1.lag }} 
multicast-routing address-family ipv4 interface be{{ node.new_bundle_1.lag }} enable
router pim address-family ipv4 interface be{{ node.new_bundle_1.lag }} 
{% else %}
{% endif %}

{% if node.new_bundle_2 is defined %}

Pre-checks for Bundle #2

show interfaces be{{ node.new_bundle_2.lag }}
show route {{ node.new_bundle_2.a_router_ipv4 }}
show route ipv6 unicast {{ node.new_bundle_2.a_router_ipv6 }}

LAG Configuration:

interface be{{ node.new_bundle_2.lag }}
interface be{{ node.new_bundle_2.lag }} description [TYPE={{ node.new_bundle_2.type|upper }}][BW={{ node.new_bundle_2.bw }}G][GRNT={{ node.new_bundle_2.lag_grnt|upper }}][ZLOC={{ node.new_bundle_2.zloc|upper }}][ZPRT=BE{{ node.new_bundle_2.zprt }}][IP={{ node.new_bundle_2.z_router_ip }}]
interface be{{ node.new_bundle_2.lag }} mtu 9216
interface be{{ node.new_bundle_2.lag }} service-policy QSP-ALL-CORE-PROTECTED-OUT
interface be{{ node.new_bundle_2.lag }} ipv4 address {{ node.new_bundle_2.a_router_ipv4 }}
interface be{{ node.new_bundle_2.lag }} ipv6 address {{ node.new_bundle_2.a_router_ipv6 }}
interface be{{ node.new_bundle_2.lag }} load-interval 30
interface be{{ node.new_bundle_2.lag }} minimum-active links 1
interface be{{ node.new_bundle_2.lag }} flow ipv4 monitor NETFLOW_IPV4 sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_2.lag }} flow ipv6 monitor NETFLOW_IPV6 sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_2.lag }} flow mpls monitor NETFLOW_MPLS sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_2.lag }} dampening 1 750 2000 4
router isis TWC interface be{{ node.new_bundle_2.lag }}
router isis TWC interface be{{ node.new_bundle_2.lag }} suppressed
router isis TWC interface be{{ node.new_bundle_2.lag }} circuit-type level-2-only
router isis TWC interface be{{ node.new_bundle_2.lag }} point-to-point
router isis TWC interface be{{ node.new_bundle_2.lag }} hello-padding disable
router isis TWC interface be{{ node.new_bundle_2.lag }} address-family ipv4 unicast
router isis TWC interface be{{ node.new_bundle_2.lag }} address-family ipv4 unicast metric 65000
router isis TWC interface be{{ node.new_bundle_2.lag }} address-family ipv4 unicast mpls ldp sync
router isis TWC interface be{{ node.new_bundle_2.lag }} address-family ipv6 unicast
rsvp interface be{{ node.new_bundle_2.lag }}
rsvp interface be{{ node.new_bundle_2.lag }} bandwidth 20000000
mpls traffic-eng interface be{{ node.new_bundle_2.lag }}
mpls ldp address-family ipv4 label local advertise interface be{{ node.new_bundle_2.lag }}
mpls ldp interface be{{ node.new_bundle_2.lag }}
multicast-routing address-family ipv4 interface be{{ node.new_bundle_2.lag }}
multicast-routing address-family ipv4 interface be{{ node.new_bundle_2.lag }} enable
router pim address-family ipv4 interface be{{ node.new_bundle_2.lag }}
{% else %}
{% endif %}

{% if node.new_bundle_3 is defined %}

Pre-checks for Bundle #2

show interfaces be{{ node.new_bundle_3.lag }}
show route {{ node.new_bundle_3.a_router_ipv4 }}
show route ipv6 unicast {{ node.new_bundle_3.a_router_ipv6 }}

LAG Configuration:

interface be{{ node.new_bundle_3.lag }}
interface be{{ node.new_bundle_3.lag }} description [TYPE={{ node.new_bundle_3.type|upper }}][BW={{ node.new_bundle_3.bw }}G][GRNT={{ node.new_bundle_3.lag_grnt|upper }}][ZLOC={{ node.new_bundle_3.zloc|upper }}][ZPRT=BE{{ node.new_bundle_3.zprt }}][IP={{ node.new_bundle_3.z_router_ip }}]
interface be{{ node.new_bundle_3.lag }} mtu 9216
interface be{{ node.new_bundle_3.lag }} service-policy QSP-ALL-CORE-PROTECTED-OUT
interface be{{ node.new_bundle_3.lag }} ipv4 address {{ node.new_bundle_3.a_router_ipv4 }}
interface be{{ node.new_bundle_3.lag }} ipv6 address {{ node.new_bundle_3.a_router_ipv6 }}
interface be{{ node.new_bundle_3.lag }} load-interval 30
interface be{{ node.new_bundle_3.lag }} minimum-active links 1
interface be{{ node.new_bundle_3.lag }} flow ipv4 monitor NETFLOW_IPV4 sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_3.lag }} flow ipv6 monitor NETFLOW_IPV6 sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_3.lag }} flow mpls monitor NETFLOW_MPLS sampler FNF_SAMPLER_MAP ingress
interface be{{ node.new_bundle_3.lag }} dampening 1 750 2000 4
router isis TWC interface be{{ node.new_bundle_3.lag }}
router isis TWC interface be{{ node.new_bundle_3.lag }} suppressed
router isis TWC interface be{{ node.new_bundle_3.lag }} circuit-type level-2-only
router isis TWC interface be{{ node.new_bundle_3.lag }} point-to-point
router isis TWC interface be{{ node.new_bundle_3.lag }} hello-padding disable
router isis TWC interface be{{ node.new_bundle_3.lag }} address-family ipv4 unicast
router isis TWC interface be{{ node.new_bundle_3.lag }} address-family ipv4 unicast metric 65000
router isis TWC interface be{{ node.new_bundle_3.lag }} address-family ipv4 unicast mpls ldp sync
router isis TWC interface be{{ node.new_bundle_3.lag }} address-family ipv6 unicast
rsvp interface be{{ node.new_bundle_3.lag }}
rsvp interface be{{ node.new_bundle_3.lag }} bandwidth 20000000
mpls traffic-eng interface be{{ node.new_bundle_3.lag }}
mpls ldp address-family ipv4 label local advertise interface be{{ node.new_bundle_3.lag }}
mpls ldp interface be{{ node.new_bundle_3.lag }}
multicast-routing address-family ipv4 interface be{{ node.new_bundle_3.lag }}
multicast-routing address-family ipv4 interface be{{ node.new_bundle_3.lag }} enable
router pim address-family ipv4 interface be{{ node.new_bundle_3.lag }}
{% else %}
{% endif %}


Remove test IP's and add interface to bundle:

{% for intf,intf_attr in node.links.items()|sort %}
no int {{intf}}
!
int {{intf}}
description [TYPE={{intf_attr.type|upper}}][BW={{intf_attr.bw}}G][LAG=BE{{intf_attr.lag}}][GRNT={{intf_attr.grnt|upper}}][ZLOC={{intf_attr.zloc|upper|replace("NONE", "NULL")}}][ZPRT={{intf_attr.zprt|upper|replace("NONE", "NULL")}}][AOLOC={{intf_attr.AOLOC|upper|replace("NONE", "NULL")}}][AOPRT={{intf_attr.AOPRT|upper|replace("NONE", "NULL")}}][ZOLOC={{intf_attr.ZOLOC|upper|replace("NONE", "NULL") }}][ZOPRT={{ intf_attr.ZOPRT|upper|replace("NONE", "NULL") }}]
bundle id {{intf_attr.lag}} mode active
lacp period short
carrier-delay up 2000 down 0
dampening 1 750 2000 4
!
{% endfor %}


{% if node.bundle_1 is defined %}
interface be{{ node.bundle_1.lag }} description [TYPE={{ node.bundle_1.type|upper }}][BW={{ node.bundle_1.bw }}G][GRNT={{ node.bundle_1.lag_grnt|upper }}][ZLOC={{ node.bundle_1.zloc|upper }}][ZPRT=BE{{ node.bundle_1.zprt }}][IP={{ node.bundle_1.z_router_ip }}]
{% else %}
{% endif %}

{% if node.bundle_2 is defined %}
interface be{{ node.bundle_2.lag }} description [TYPE={{ node.bundle_2.type|upper }}][BW={{ node.bundle_2.bw }}G][GRNT={{ node.bundle_2.lag_grnt|upper }}][ZLOC={{ node.bundle_2.zloc|upper }}][ZPRT=BE{{ node.bundle_2.zprt }}][IP={{ node.bundle_2.z_router_ip }}]
{% else %}
{% endif %}

{% if node.bundle_3 is defined %}
interface be{{ node.bundle_3.lag }} description [TYPE={{ node.bundle_3.type|upper }}][BW={{ node.bundle_3.bw }}G][GRNT={{ node.bundle_3.lag_grnt|upper }}][ZLOC={{ node.bundle_3.zloc|upper }}][ZPRT=BE{{ node.bundle_3.zprt }}][IP={{ node.bundle_3.z_router_ip }} ]
{% else %}
{% endif %}


END

CHANGE-SPECIFIC POST-CHECKS: 


{% for intf,intf_attr in node.links.items()|sort %}
show interface {{ intf }} | in "rate|drop|err"
{% endfor %}

{% if node.bundle_1 is defined %}
show interface be{{ node.bundle_1.lag }}
show interface be{{ node.bundle_1.lag }} | in "rate|drop|err"
{% else %}
{% endif %}

{% if node.bundle_2 is defined %}
show interface be{{ node.bundle_2.lag }}
show interface be{{ node.bundle_2.lag }} | in "rate|drop|err"
{% else %}
{% endif %}

{% if node.bundle_3 is defined %}
show interface be{{ node.bundle_3.lag }}
show interface be{{ node.bundle_3.lag }} | in "rate|drop|err"
{% else %}
{% endif %}


{% if node.new_bundle_1 is defined %}

Post-checks for new LAG

show interfaces be{{ node.new_bundle_1.lag }}
show lacp be{{ node.new_bundle_1.lag }}

ping {{ node.new_bundle_1.z_router_ipv4.split("/")[0] }} source {{ node.new_bundle_1.a_router_ipv4.split("/")[0] }} count 1000 size 9000 rapid

show isis neighbors
show mpls interfaces
show igmp interfaces
show pim neighbors 
monitor interface be{{ node.new_bundle_1.lag }} be{{ node.new_bundle_1.lag }} wide
{% else %}
{% endif %}


{% if node.new_bundle_2 is defined %}

Post-checks for Bundle #2

show interfaces be{{ node.new_bundle_2.lag }}
show lacp be{{ node.new_bundle_2.lag }}

ping {{ node.new_bundle_2.z_router_ipv4.split("/")[0] }} source {{ node.new_bundle_2.a_router_ipv4.split("/")[0] }} count 1000 size 9000 rapid

show isis neighbors
show mpls interfaces
show igmp interfaces
show pim neighbors
monitor interface be{{ node.new_bundle_2.lag }} be{{ node.new_bundle_2.lag }} wide
{% else %}
{% endif %}


{% if node.new_bundle_3 is defined %}

Post-checks for Bundle #3

show interfaces be{{ node.new_bundle_3.lag }}          
show lacp be{{ node.new_bundle_3.lag }}

ping {{ node.new_bundle_3.z_router_ipv4.split("/")[0] }} source {{ node.new_bundle_3.a_router_ipv4.split("/")[0] }} count 1000 size 9000 rapid

show isis neighbors
show mpls interfaces
show igmp interfaces       
show pim neighbors    
monitor interface be{{ node.new_bundle_3.lag }} be{{ node.new_bundle_3.lag }} wide
{% else %}  
{% endif %}
